{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="border p-3">
        <h3>New Post</h3>

        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="new-post" name="content">
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>

    </div>

{% endblock %}