{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>

    <div id="index-message"></div>

    {% if user.is_authenticated %}
    <div class="border p-3">
        <h4>New Post</h4>

        <form id="create-form">
            {% csrf_token %}
            <div class="form-group">
                <input id="create-content" type="text" class="form-control">
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
    {% endif %}

    <div id="posts"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}